// Add here all your customized variables
$g-color-primary: #6BC8C4;
$g-color-secondary: #187C8D;
$g-color-orange: #F47922;
$g-color-purple: #A971A3;
$g-color-darkblue: #2D485C;
$g-theme-color-gray-light-v2: #778F9B;
$g-color-gray-light-v1: #DCDCD7;
$g-color-gray-light-v2: rgba(151, 151, 151, 0.25);
$g-color-lightblue: #B6E0DA;
$g-color-yellow: #E5E38C;
$g-color-lightblue-v1: #76cfcb;
$g-color-background: rgba(182, 224, 218, 0.2);
