/* Add here all your css styles (customizations) */
#gdpr-cookie-message {
    z-index: 1000;
}

.job-panel{
  height: 100%;
    display: grid;
    justify-content: space-between;
}
.job-details{
  margin-top: auto;
  margin-bottom: 0;
}

/* Main Colors */
.g-bg-main {
    background-color: #fff !important;
  }
  
/* Main Secondary */
.g-bg-secondary {
    background-color: #fafafa !important;
  }

  /* Color Green */
.g-bg-green {
    background-color: #96c547 !important;
  }
.g-color-green {
   color: #96c547 !important;
   border-color: #96c547 !important;
  }

.list-inline-item a.g-color-green:hover {
    background-color: #96c547 !important;
    border-color: #96c547 !important;
   }

   .list-inline-item a.g-color-green:hover {
    background-color: #96c547 !important;
    border-color: #96c547 !important;
   }

  /* Color Blue */
.g-bg-blue {
    background-color: #2C5697 !important;
  }
.g-color-blue {
    color: #2C5697 !important;
  }

a.g-color-blue{
  color: #3398dc;
}

.g-blue-active {
    background-color: #2C5697 !important;
    border: #2C5697 !important;
    color: white !important;
}

/* Font overrides */
h1, h2, h3, h4, h5, h6, p, body, div{
    font-family: Arial, sans-serif;
}

p, body{
    color: #565656;
}

::selection {
    color: white;
    background-color: #96c547;
}

h1, h2{
    color:  #2C5697; 
}

/* Buttons */

.btn.u-btn-primary.active, .btn.u-btn-primary:hover, .btn.u-btn-primary.u-btn-hover-v2-1, .btn.u-btn-primary.u-btn-hover-v2-1:hover {
  background-color: #96c547 !important;
  background: #96c547 !important;
  outline: none !important;
  overflow: hidden !important;
  border-color: #96c547 !important;
}

.btn.u-btn-primary.u-btn-hover-v2-1::after, .btn.u-btn-primary.u-btn-hover-v2-1:hover::after, .btn.u-btn-primary.u-btn-hover-v2-1:hover, .btn.u-btn-primary.u-btn-hover-v2-1::after, .btn.u-btn-primary.u-btn-hover-v2-1:hover::after {
  background-color: #aee64e !important;
  background: #aee64e !important;
  overflow: hidden;
}


.u-btn-secondary{
    background-color: unset;
    color: white;
    border-color: white
}
.u-btn-secondary:hover{
    background-color: #aee64e;
    color: white;
    outline: none;
    border-color: #aee64e;
}

.u-go-to-v1:hover, .u-go-to-v1:focus:hover{
    background-color: #aee64e;
}

.u-btn-outline-blue {
  color:  #2C5697; 
  outline-color: #2C5697;
}

.u-btn-outline-blue:hover{
  background-color:  #2C5697; 
  outline-color: #2C5697;
  border-color: #2C5697
}

a.btn.btn-lg.u-btn-blue{
   display: inline-block;
}

.u-btn-blue.u-btn-hover-icon:hover i.fa.fa-angle-right.g-ml-7.icon-rotate{
  transform: rotate(90)!important;
}